* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;


  
}

body {
	background: #353535;

}


.navegacion {
	width: 1000px;
	margin: 30px auto;
	background: #fff;
	border-radius: 12px;

}

.navegacion ul {
	list-style: none;

}




.menu > li {
	position: relative;
	display: inline-block;



}

.menu > li > a {
	display: block;
	padding: 15px 20px;
	color: #353535;
	font-family: "Open sans";
	text-decoration: none;





}


.menu li a:hover {
	color: #CE7D35;
	transition: all .3s;


}


/*SUBMENU*/

.submenu {
	position: absolute;
	background: #333333;
	width: 150%;
	visibility: : hidden;
	opacity: 0;
	transition: opacity .3s;


}

.submenu li a {
	display: block;
	padding: 15px;
	color: #fff;
	font-family: "Open sans";
	text-decoration: none;

}

.menu li:hover .submenu {
	display: visible;
	opacity: 1;
}

.comunicado {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

.comunicado p {
	font-size: 22px;
	color: rgb(200,200,210);
	text-align: center;


}



.comunicado h1 {
	font-size: 35px;
	text-align: center; 
	text-decoration: underline;
	margin-bottom: 20px;
	color: rgb(250,0,50);

}















